.main-top {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 20px;

    @media (min-width: $desktops-xl) {
        padding-bottom: 30px;
    }

    &__breadcrumbs-wrap:not(:last-child) {
        margin-bottom: 16px;

        @media (min-width: $desktops-md) {
            margin-bottom: 24px;
        }
    }
}
