.tel-block {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;

    a {
        text-decoration: none;
    }

    &__caption {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: $color-gray;
        white-space: nowrap;
        font-weight: 500;

        @media (min-width: $desktops-sm) {
            text-align: right;
        }
    }

    &__tels {
        display: flex;
        gap: 4px 8px;
    }

    &__tel {
        display: block;
        padding-top: 2px;
        padding-bottom: 4px;
        font-weight: 600;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0.04em;
        white-space: nowrap;
        color: $color-red;

        @media (min-width: $desktops-md) {
            padding-top: 4px;
        }
    }

    &__tel-sec {
        display: block;
        padding-top: 4px;
        white-space: nowrap;
        color: $color-gray-dark;
    }

    &--black {
        text-align: right;
        .tel-block__tel {
            color: inherit;
            font-size: 15px;
        }
    }

    @import "tel-block--footer";
}
