.cities {
    width: 100%;
    max-height: 100%;
    padding: 8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden auto;
    column-gap: 32px;

    @include set-scroll();

    @media (min-width: $tablets) {
        column-count: 3;
    }

    @media (min-width: $desktops-sm) {
        column-count: 4;
    }

    a {
        display: block;
        padding: 12px 20px;
        color: inherit;
        border-radius: 4px;
        transition-property: background-color, color;
        transition-duration: 0.3s;
    }

    a[href]:focus-visible,
    a[href]:hover {
        @media (min-width: $desktops-sm) {
            background-color: $color-gray-light;
        }
    }

    a[href].active {
        background-color: $color-red;
        color: $color-white;
    }

    a:not([href]) {
        opacity: 0.3;
    }
}
