.drop-menu {
    max-height: 420px;
    overflow: auto;
    @media (min-width: $desktops-sm) {
        width: 100vw;
        max-width: 360px;
        padding: 24px 16px;
    }

    &__item {
    }

    &__link {
        display: block;
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        color: inherit;
        transition: background-color 0.3s;
        margin-bottom: 4px;

        @media (min-width: $desktops-sm) {
            padding: 4px 16px;
        }
    }

    &__link:hover {
        @media (min-width: $desktops-sm) {
            background-color: $color-white-1;
        }
    }
}
