.sale {
    &__swiper {
        border-radius: 16px;
    }

    &__slide {
        position: relative;
        background-image: url(../images/nophoto2_x2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
        border-radius: 16px;
        overflow: hidden;
    }

    &__slide::before {
        content: "";
        display: block;

        @media (max-width: $phones-max) {
            padding-top: 66.36%;
        }

        @media (min-width: $tablets) {
            height: 266px;
        }

        @media (min-width: $desktops-sm) {
            height: 367px;
        }

        @media (min-width: $desktops-md) {
            height: 440px;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
        z-index: 1;
    }

    & &__pagination {
        position: absolute;
        left: 0;
        z-index: 1;
        padding-left: 60px;
        padding-right: 60px;
        pointer-events: none;

        @media (max-width: $phones-max) {
            bottom: 10px;
            padding-right: 18px;
            padding-left: 18px;
            text-align: center;
        }

        @media (min-width: $tablets) {
            bottom: 20px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 6px;
            max-width: calc(100% - 105px);
        }

        @media (min-width: $desktops-sm) {
            padding-left: 92px;
        }

        @media (min-width: $desktops-md) {
            padding-left: 106px;
        }
    }

    & &__btns {
        @media (min-width: $tablets) {
            position: absolute;
            z-index: 1;
            right: 20px;
            bottom: 10px;
        }
    }
}
